body {
    font-family: 'Sen', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Kulim Park', sans-serif;
    font-size: 48px;
    font-weight: 700 !important;
}

h2 {
    @extend h1;
    font-size: 40px;
    color: #F60077;
    margin-bottom: 1.5rem;
}

h6 {
    font-size: 12px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #00b0ff;
    font-weight: 600;
}

p {
    opacity: 0.8;
}

a {
    color: initial;

    &:hover {
        color: #FFA300;
        text-decoration: none;
    };
}

footer {
    font-size: 0.75rem;
    text-align: center;
}

.content {
    max-width: 560px;
    margin: 6rem 0;
}

.img {
    width: 100%;
    display: inline-block;

    .img-photo {
        border-radius: 50%;
    }
}

.v-center {
    display: flex;
    align-items: center;
 }

 @media only screen and (max-width: 1050px) and (min-width: 400px) {
    .content {
        width: 88%;
    }
 }